@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w{
  @apply max-w-screen-xl mx-auto px-4;
}

.discount{
  width: 100%;
  background: url(./src/assets/banner/banner-6.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}
